.centralSection {
    background: linear-gradient(#E5C651, black 30%)!important;
    color: white;
}

.nuovobar .mainImage {
    width: 100% !important;
    box-shadow: 0px 0px 40px black;
}

.nuovobar h1{
    font-size: 5em!important;
    font-weight: 800!important;
}

.nuovobar p{
    font-size: 0.6em!important;
}

// .rightAside {
//     position:sticky!important;
//     top:0!important;
// }