.centralSection {
  background: linear-gradient(#e5c651, black 60vh) !important;
  color: white;
}

.headerAlbum { 
  .mainImage {
  width: 100% !important;
  box-shadow: 0px 0px 40px black;
  }
  h1 {
    font-size: 3.5em !important;
    font-weight: 800 !important;
  }
  p {
    font-size: 0.6em !important;
    font-weight: 700 !important;
  }
}

.fontSetterAlbum {
  font-size: 1.5em!important;
}

.database {
  background-color: rgba(18 18 18 / 0.5);
}

.database table {
  font-size: 0.8em !important;
  color: #cac7bc;
}

.songTitle {
  color: white;
  font-weight: 800;
}

table p {
  margin: 0 0 0 10px;
}

thead th {
    padding: 0 0 20px 0!important;
}

tr td {
  padding-bottom: 10px !important;
}

.alignEndRow {
  text-align: end !important;
}

.database button{
  font-size: 2em!important;
  color: white!important;
}

.PlayButton {
  background: #2ac25f !important;
  border-radius: 50% !important;
  padding: 5px 10px 0px 15px!important;
  border: 0;
  color: black!important;
  font-size: 2em!important;
}

.PlayButton {
  cursor: pointer;
}

.PlayButton:hover {
  background: #57ec8b !important;
}