/* scroll colonna 1 */
.playlist-container-list {
  overflow-y: scroll;
  height: 400px; 
} 
/* menù colonna 1 - levati pallini lista  */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}
/* menù colonna 1 nero con testo bianco */
.allblacks{
  background-color: black;
  color: white;
}
/* margine p */
.playlist-container-list-title{
  margin: 3px;
}
/* bottone menù tendina colonna 1 */
.bottone{
  background-color: black;
  color: white;
}