.card-img-overlay{
    top: 50% !important;
}

.button{
    border-radius: 8px !important;
    background-color: transparent !important;
    color:white;
}

.titolo{
color: white;
}


td{
    color:white;
   
}


.testoHeader{
    color:white;
    margin-top: 270px;
    margin-left: 20px;
}